.button{
    color: hsl(38, 61%, 73%);
    background-color: crimson;
    letter-spacing: 2px;
    padding: 15px;
    border: 2px solid hsla(0, 0%, 100%, 1);
    margin-top: 30px;
    font:bold;
    font-size: 22px;
    border-radius: 50px;
}
.button:hover{
    transition:0.6s;
    transform: scale(1.2);
    background: transparent;
    border: 2px solid crimson;
    color:hsla(0, 0%, 100%, 1);
}
.cards:hover{
    transform: scale(1.1);
    transition: 0.6s;

}